.App {
  text-align: center;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Die{
  font-size: 1em;;
}

.RollTheDice Die {
  display:flex;
  flex-direction:row;
}
.RollTheDice:nth-child(2){
  break-after: always;
}

.Ball{
  position: relative;
  background-color:orangered;
  border-radius: 50%;
  color:white;


  align-items: center;
  width: 30px;
  height: 30px;
}
.ball{
  display: flex;
  flex-direction: row;
}

.Box{
  height:5em;
  width:5em;
}

.btnList{
  display: flex;
  flex-direction: row;
  height:5em;
  width:100vw;
  align-items: center;
  justify-content: center;
}

.btnList button{
  display: flex;
  flex-direction: row;
  height:5em;
  width:5em;
}
.NumbersButton{
  display:flex;
  flex-direction: column ;
}